[submodule "ant-media-server/Ant-Media-Server"]
	path = streaming/Ant-Media-Server
	url = https://github.com/ant-media/Ant-Media-Server.git
[submodule "ant-media-server/obs-studio"]
	path = streaming/obs-studio
	url = https://github.com/obsproject/obs-studio.git
