[submodule "devicehive/devicehive-docker"]
	path = devicehive/devicehive-docker
	url = https://github.com/devicehive/devicehive-docker.git
[submodule "devicehive/devicehive-video-analysis"]
	path = devicehive/devicehive-video-analysis
	url = https://github.com/devicehive/devicehive-video-analysis.git
[submodule "android/PSIAP-analytic-tester"]
	path = android/PSIAP-analytic-tester
	url = git@llcad-github.llan.ll.mit.edu:HADR/PSIAP-analytic-tester.git
[submodule "ant-media-server/Ant-Media-Server"]
	path = ant-media-server/Ant-Media-Server
	url = https://github.com/ant-media/Ant-Media-Server.git
[submodule "ant-media-server/obs-studio"]
	path = ant-media-server/obs-studio
	url = https://github.com/obsproject/obs-studio.git
